[Desktop Entry]
Type=Application
Name=File Manager
Comment=Linux dual-panel file manager
Comment[zh_CN]=Linux 双面板文件管理器
Exec=fm
Icon=fm
Terminal=false
Categories=System;FileManager;Qt;
Keywords=file;manager;dual-panel;
